.col-sm-3 h2 {
    font-size: 40px;   
    font-weight: bold; 
    
}
.col-sm-3 h2{
    font-style:italic;

}
.col-sm-3 a{
    font-weight:bold;
}

.col-sm-4 h4{
    position:relative;
    left:50%;
}

.simple-form{
    text-align: center;
}
.form-group {
    margin-bottom: 20px; 
}

.button-container {
    display:flex;
    justify-content: center; 
    align-items: center;  
    height: 60px;   

}
button.btn.btn-primary {
    background-color: #4CAF50;      
    border:none;     
    color: white;
    

}
.col-sm-6 img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

.table-container{
    display: flex;
    justify-content: center;
}


#productList{
    text-align: center;
  color: red;


}


table {
    border-spacing: 10px;
    border-collapse: collapse;
    width: 100%;
}
.totals {
    position: absolute;
    top: 20px; /* Adjust as needed */
    right: 500px; /* Adjust as needed */
    background-color: #f0f0f0; /* Optional background color for visibility */
    padding: 10px; /* Optional padding for better appearance */
    border: 1px solid #ccc; /* Optional border for better appearance */
}
.result {
    font-size: 18px;          /* Set the font size */
    color: #333; 
    position: relative;
    bottom: 20%;
    left:82%;
  
}
.final p{
    font-weight: bold;
}

.totals p {
    margin-bottom: 5px; /* Adds spacing between paragraphs */
}

th {
    background-color: rgb(184, 212, 231);
    color: darkblue;
    border: solid #000000 1px;
}

td {
    vertical-align: top;
}

#sub-total {
    border-top: solid #000 1px;
}

#bottom-line {
    border-bottom: solid #000 1px;
}
.delete-button {
    background-color: #be4242; /* Set the background color */
    color: white;              /* Set the text color */
    border: none;
    border-radius: 5px; 
    font-size: 15px;
}

.data {
    border-left: solid #000000 1px;
    border-right: solid #000000 1px;
}

.data2 {
    border-right: solid #000000 1px;
}

p.i {
    font-style: italic;
  }

.r {
    text-align: right;
}

.cen {
    text-align: center;
}

.center {
    margin: auto;
  }

.colo {
    font-weight: bold;
    color: darkblue;
}

.thick {
    font-weight: bold;
}

.tab { 
    display:inline-block; 
    margin-left: 40px; 
}